{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-useless-escape": [
      "off"
    ],
    "no-useless-escape": [
      "error",
      {
        "code": 180
      }
    ]
  }
}