.murms__list {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.murms__list-item {
	padding: 15px;
	border-radius: 10px 10px 0 0;
	width: 100%;
	border-bottom: blue 4px dashed;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	box-sizing: border-box;
}

.murms__owner-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.murms__owner-name {
	margin: 0;
	font-size: 26px;
	line-height: 1.1;
	font-weight: normal;
}

.murms__owner-link {
	margin: 0;
	font-size: 20px;
	line-height: 1.1;
	color:blue;

}

.murms__delete-button {
	background-image: url('../../images/trash-icon.png');
	background-position: center;
	background-size: contain;
	position: absolute;
	top: 18px;
	right: 15px;
	width: 18px;
	height: 19.3px;
	border: none;
	outline: none;
	transition: 0.3s ease;
	cursor: pointer;
}

.murms__delete-button:hover {
	opacity: 0.6;
}

.murms__delete-button_hidden {
	display: none;
}

.murms__buttons-container {

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 0 0 20px;
	gap: 15px;
}

.murms__button-container {
	background-color: white;
	padding: 3px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}

.murms__values-number {
	margin: 3px 0 0;
	font-size: 13px;
	line-height: 16px;
}

.murms__caption-like {
	background-image: url('../../images/hearth.svg');
	background-position: center;
	cursor: pointer;
	width: 20.76px;
	height: 18.13px;
	transition: 0.3s ease;
	border-style: none;
	outline: none;
	background-color:white;
}

.murms__caption-like:hover {
	opacity: 0.6;
}

.murms__caption-like_color_black {
	background-image: url('../../images/black-hearth.svg');
}

.murms__comment-button {
	background-image: url('../../images/comments.png');
	background-size: contain;
	background-position: center;
	cursor: pointer;
	width: 20.76px;
	height: 18.13px;
	transition: 0.3s ease;
	border-style: none;
	outline: none;
	background-color:white;
}

.murms__comment-button:hover {
	opacity: 0.6;
}

.comments {
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.comments__list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 15px;
	list-style: none;
	padding: 0;
}

.comments__title {
	margin: 0;
	font-size: 16px;
	line-height: 18px;
}

.comments__form {
	width: 100%;
	display: flex;
}

.comments__form-field {
	width: 80%;
	overflow: hidden;
}

.comments__input {
	padding: 0 10px;
	width: 100%;
	border: 2px solid rgb(50, 87, 221);
	font-size: 16px;
	line-height: 20px;
	outline: none;
	border-radius: 10px 0 0 10px;
}

.comments__submit {
	overflow: hidden;
	padding: 0;
	width: 20%;
	background-color: rgb(50, 87, 221);
	border: none;
	border-radius: 0 10px 10px 0;
	font-size: 16px;
	line-height: 20px;
	outline: none;
	cursor: pointer;
	transition: .3s ease;
	color: white;
}

.comments__submit:hover {
	opacity: .7;
}
